:root {
  interpolate-size: allow-keywords;
}

.levelsContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.levelsGroup {
  display: flex;
  flex-wrap: wrap;
  max-width: 290px;
  gap: 5px;
  padding: 10px;
}

summary {
  font-size: 24px;
  line-height: 24px;
  margin-block-end: 0;
  cursor: pointer;
}

summary::marker {
  font-size: 0.75em;
  color: rgba(var(--light-color), 0.9);
}

details * {
  margin: 0;
}

details {
  overflow: hidden;
}
details.selected {
  color: rgba(var(--selected-colour), 0.9);
}

details::details-content {
  block-size: 0;
  transition: block-size 300ms, content-visibility 300ms;
  transition-behavior: allow-discrete;
}

details:open::details-content {
  block-size: auto;
}

.levelsButton {
  font-size: 24px;
  line-height: 24px;
  padding: 10px;
  border-radius: 4px;
}
.levelsButton.unlocked {
  color: rgba(var(--light-color), 1.0);
  border: 1px solid rgba(var(--light-color), 0.9);
}
.levelsButton.unlocked:hover {
  color: rgba(var(--light-color), 1.0);
  outline: 1px solid rgba(var(--light-color), 1.0);
  cursor: pointer;
}
.levelsButton.locked {
  color: rgba(var(--light-color), 0.5);
  border: 1px solid rgba(var(--light-color), 0.5);
}
.levelsButton.selected {
  color: rgba(var(--selected-colour), 0.9);
  border: 1px solid rgba(var(--selected-colour), 0.9);
}
.levelsButton.selected:hover {
  color: rgba(var(--selected-colour), 0.9);
  outline: 1px solid rgba(var(--selected-colour), 0.9);
}