.levelsOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: rgba(var(--dark-color), 0.8);
  color: rgba(var(--light-color), 0.9);
  font-size: 40px;
  font-family: 'Doto', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.levelsOverlay.show {
  display: flex;
}

.levelsOverlay.hide {
  display: none;
}

.levelsHeading {
  font-size: 45px;
  color: white;
  text-shadow: 0 0 30px white;
  margin-bottom: 50px;
}

.levelsButton {
  font-size: 24px;
  line-height: 24px;
  padding: 10px;
  margin-top: 10px;
}
.levelsButton.unlocked {
  color: rgba(var(--light-color), 0.9);
  border: 1px solid rgba(var(--light-color), 0.9);
}
.levelsButton.unlocked:hover {
  color: rgba(var(--light-color), 0.6);
  cursor: pointer;
}
.levelsButton.locked {
  color: rgba(var(--light-color), 0.5);
  border: 1px solid rgba(var(--light-color), 0.5);
}