:root {
	--main-text-colour: #040337;
	--link-colour: #000499;
	--background-colour: #62c3e1;
	--banner-background-colour: #008dca;
}

html,
body,
#root
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
			45deg,
			hsl(240deg 100% 20%) 0%,
			hsl(281deg 100% 21%) 8%,
			hsl(304deg 100% 23%) 17%,
			hsl(319deg 100% 30%) 25%,
			hsl(329deg 100% 36%) 33%,
			hsl(336deg 100% 41%) 42%,
			hsl(346deg 83% 51%) 50%,
			hsl(3deg 95% 61%) 58%,
			hsl(17deg 100% 59%) 67%,
			hsl(30deg 100% 55%) 75%,
			hsl(40deg 100% 50%) 83%,
			hsl(48deg 100% 50%) 92%,
			hsl(55deg 100% 50%) 100%
	);
	/*background: black;*/
}

body {
	/* Disable text selection */
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-size: 22px;
	line-height: 28px;
	color: var(--main-text-colour);
}

a,
a:visited {
	color: var(--link-colour);
}

a:hover {
	text-decoration: underline;
}

#root {
	height: 100%;
	overflow-y: auto;
}

/* Leva */
:root {
	--leva-sizes-rootWidth: 500px !important;
	--leva-sizes-controlWidth: 240px !important;
}
