.infoSubHeading {
  font-size: 30px;
  margin-top: 50px;
}

.infoTagLine {
  margin-top: 40px;
  line-height: 44px;
}

.infoLinks {
  margin-block: 20px;
  font-size: 20px;
  display: flex;
  gap: 10px;
}

.infoLinks a,
.infoLinks a:visited {
  color: #93bfe7;
}
