
.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  font-size: 48px;
  line-height: 48px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: rgba(var(--dark-color), 0.6);
  pointer-events: none;
  padding-block: 20px;
  background: linear-gradient(#7cb5d8, transparent);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.toastMessage {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  background-color: rgba(var(--dark-color), 0.5);
  color: rgba(var(--light-color), 1.0);
  padding: 20px;
  opacity: 0;
  animation: fade-in 1s forwards;
  font-size: 26px;
  line-height: 28px;
  font-family: 'Shrikhand', sans-serif;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  padding-block: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  pointer-events: none;
  background: linear-gradient(transparent, #7cb5d8);
}

.footerActions {
  display: flex;
  gap: 10px;
}

.movesContainer {
  display: flex;
  flex-direction: column;
  color: rgba(var(--dark-color), 0.6);
}

.movesForStar {
  font-size: 16px;
  text-align: center;
}
